.table { font-family: 'Calibri', sans-serif }

@media (min-width: 1024px) {
  .table__cell { font-size: 2rem }
}

[class="table__cell"] {
  height:           30px;
  background:       lightgrey;
  padding:          5px;
  vertical-align:   middle !important;
}

.table__cell--highlighted {
  font-weight:      bold;
  color:            red;
}

.table__cell--underlined-bold {
  font-weight:      bold;
  text-decoration:  underline
}