.table { font-family: 'Calibri', sans-serif }

@media (min-width: 1024px) {
  .table__cell { font-size: 2rem }
}

.table__cell {
  height:           30px;
  background:       rgba(211,211,211,.3) !important;
  padding:          5px;
  vertical-align:   middle !important;
}

.table__cell--highlighted {
  font-weight:      bold;
  color:            red;
}

.table__cell--bold {
  font-weight:      bold;
}

.table__link--highlighted,
.table__link--highlighted:hover,
.table__link--highlighted:active,
.table__link--highlighted:visited {
  color:           red 
}

